* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none
}
body {
  @apply text-black  dark:bg-slate-900 green:bg-green-200 ;
}

.theme0 {
  background-color: white;
  color: black;
}
.theme1 {
  background-color: #FEC504;
  color: white;
}
.theme2 {
  background-color: #636262;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;